@model DropDown.Models.GradeStoreVM

<hr />
<p>Detail Partial View</p>

<h2>List of Stores</h2>
<p>
    @if (Model.GradeStores != null)
    {
        <table>
            @foreach (var i in Model.GradeStores)
            {
                <tr>
                    <td>
                        @i.StoreName
                    </td>
                </tr>
            }
        </table>
    }
</p>

<hr />
