@model DropDown.Models.GradeStoreVM

<hr />
<p>Master Partial View</p>

<form asp-controller="v8" asp-action="Details" method="Get" id="MyForm">
    <fieldset>
    @if ( Model.GradeId == null)
      {
           <p> Grade Type </p>
            <select asp-for=GradeId asp-items=Model.List>
                <option>Select -- One</option>
            </select>
           <p>No current Selection</P>
      }
    else
     {
          <p> Grade Type
          <select asp-for=GradeId asp-items=Model.List>
              <option selected>Select -- Another</option>
            </select>
          </p>
        <hr />
        <p>The current selection is @Model.GradeId</p>
     }

    </fieldset>
</form>

@*@using (Html.BeginForm("Details", "v8", FormMethod.Get, new { id = "MyForm" }))
{
    <fieldset>
    @if ( Model.GradeId == null)
    {
        <p> Grade Type
        @Html.DropDownListFor(m => m.GradeId, Model.List, "--Select One--")
        </p>
        <p>No current Selection</P>
    }
    else
    {
        <p> Grade Type
        @Html.DropDownListFor(m => m.GradeId, Model.List, "--Select Another--")
        </p>
        <p>The current selection is @Model.GradeId</p>
    }
    </fieldset>
}
*@
<hr />



