@{
    ViewBag.Title = "DisplayChoiceRaw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>V1 Display Choice</h2>
<p>Your Selection was @ViewBag.choice</p>
<p><a href="/v1/Index">Select Another</a></p>


<p>Version 1 introduced us to the simple journey from an action that generated a raw HTML 
    view back to a second action via a http get with a 
    query string value that was read then submitted to a second view.</p>
