@model DropDown.Models.EventTypeVM

<p>So you have called the Details Action within the controller</p>
<p>This has once again ( just for fun ) called a GetEventType method within the service layer using the provided EventTypeId to discover which event type you selected </p>
<h1>You have selected</h1>

<h2>@Model.EventType</h2>
