@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Application demonstrates 8 versions of Drop Downs</p>
    <dl>
        <dt>Version 1</dt>
        <dd>- Just HTML</dd>
        <dt>Version 2</dt>
        <dd>- Version 2 – Razor Helpers and SelectList class</dd>
        <dt>Version 3</dt>
        <dd>- Select List in a View Model</dd>
        <dt>Version 4 a</dt>
        <dd>- Single Page Post Verb</dd>
        <dt>Version 4b </dt>
        <dd>- Single Page Get Verb</dd>
        <dt>Version 5</dt>
        <dd>- Version 5 One to Many</dd>
        <dt>Version 6</dt>
        <dd>- JavaScript Responce</dd>
        
    </dl>
</div>
