@model DropDown.Models.SelectViewModel

@{
    ViewBag.Title = "DetailV3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Summary</h2>

<p>
    

    Version 3 behaves from the users perspective in the same way to version 1 and 2. 
    However it introduces a ViewModel  as the mechanism for coupling the Controller to the Views. 
    The ViewModel provides strongly typed links between controllers and views and once again uses 
    abstraction to improve the testability and maintainability of our solution.
</p>

<p>Your Selection was @Model.SelectId</p>

<p><a href="/v3/Index">Select Another</a></p>

